
html,body {
	height: 100%;
}

body.my-signin-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-signin-page .logo {
	/* width, height : 로그인창에 노출되는 로고의 크기 */
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	display: flex;
    align-items: center;
}

.my-signin-page .logo img {
	width: 100%;
	height: auto;
}
.logo img{
	cursor: pointer;
}

.my-signin-page .card-wrapper {
	width: 500px;
	background-color: #fff;	
}

.my-signin-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-signin-page .card.fat {
	padding: 10px;
}

.my-signin-page .card .card-title {
	margin-bottom: 30px;
}
form{
	margin-left: 30px;
	margin-right: 30px;
}
label{
	margin-right: 10px;
}
input{
	width: 100%
}

.table-width{
	width:100%;
}
.my-signin-page .form-control {
	border-width: 2.3px;
}

.my-signin-page .form-group {
	width: 100%;
}

.my-signin-page .btn.btn-block {
	padding: 12px 10px;
}

.my-signin-page .margin-top20 {
	margin-top: 20px;
}

.my-signin-page .no-margin {
	margin: 40px 0px 0px 0px;
}

.my-signin-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.btn-info{
	background-color: #000;
}
.badge-info{
	background-color: #000;
}

.btn-info:hover {
  color: #fff;
  background-color: #888;
  border-color: #fff;
}
.passwd{
	margin-top: 20px;
	
} 
.nickname{
	margin-top: 40px;
}